<div class="container mt-5">
  <button type="back" (click)="backToLogin()">&larr;</button>
  <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <input type="text" formControlName="username" placeholder="Username" required />
      <input type="password" formControlName="password" placeholder="Password" required />
      <select formControlName="role">
        <option value="User">User</option>
        <option value="Admin">Admin</option>
      </select>
      <button type="submit">Register</button>
    </form>
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <div class="alert alert-warning mt-4" role="alert">
    <strong>Sorry for the inconvenience!</strong> The database hosting is deprecated and thus you won't be able to login or perform anything.
    <br> Please go to <a href="https://drive.google.com/drive/folders/1elafeo3wCxGnYV8jb2B1t-IlPJfSp-9n" class="alert-link">this link</a> to check out the screenshots for reference.
  </div>
</div>
