<div class="container mt-5">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label>Username</label>
      <input type="text" class="form-control" formControlName="username" />
    </div>

    <div class="mb-3">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password" />
    </div>

    <div *ngIf="errorMessage" class="text-danger">
      {{ errorMessage }}
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
    <button type="button" class="btn btn-secondary" (click)="register()">Register</button>
  </form>

  <div class="alert alert-warning mt-4" role="alert">
    <strong>Sorry for the inconvenience!</strong> The database hosting is deprecated and thus you won't be able to login or perform anything. 
    <br> Please go to <a href="https://drive.google.com/drive/folders/1elafeo3wCxGnYV8jb2B1t-IlPJfSp-9n" class="alert-link">this link</a> to check out the screenshots for reference.
  </div>

</div>
