<div class="payment-header">
  <div>
    <h2>Payments</h2>
    <p>Track and manage payment transactions.</p>
  </div>

  <button class="add-invoice-btn" (click)="addPayment()">
    <mat-icon>add</mat-icon> Add Payment
  </button>
</div>

<table mat-table [dataSource]="payments" class="mat-elevation-z8" style="width: 100%;">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Payment ID</th>
    <td mat-cell *matCellDef="let payment">{{ payment.paymentId }}</td>
  </ng-container>

  <ng-container matColumnDef="invoiceId">
    <th mat-header-cell *matHeaderCellDef>invoice ID</th>
    <td mat-cell *matCellDef="let payment">{{ payment.invoiceId }}</td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Amount Paid</th>
    <span>&nbsp;₹&nbsp;</span>
    <td mat-cell *matCellDef="let payment">{{ payment.amountPaid | number: '1.2-2'}}</td>
  </ng-container>

  <ng-container matColumnDef="method">
    <th mat-header-cell *matHeaderCellDef>Payment Method</th>
    <td mat-cell *matCellDef="let payment">{{ payment.method }}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Payment Date</th>
    <td mat-cell *matCellDef="let payment">{{ payment.paymentDate | date }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let payment">
      <button mat-button (click)="viewPayment(payment)">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-button color="warn" (click)="deletePayment(payment.paymentId)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

